{% extends 'layout.html' %}
{% block title %}
    <link rel="stylesheet"  href="{{url_for('static',filename='index.css')}}">
	<title>title</title>
{% endblock %}

{% block body %}
    <div class="contenedor-title">
        <h1>Bienvenido A Formularios.com </h1>
    </div>
    <form action="{{ url_for('sesion')}}" method="post" class="contenedor-formulario">
        <h3 >Ingresa tu Nombre para poder registrarte</h3>
        <input type="text" name="nombre" placeholder="Enter your name"><br>
        <button >Acceder</button>
    </div>




{% endblock %}